<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>website</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>authenticateUsers</servlet-name>
    <servlet-class>com.abc.student.services.authenticateUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authenticateUsers</servlet-name>
    <url-pattern>/authenticateUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerStudent</display-name>
    <servlet-name>registerStudent</servlet-name>
    <servlet-class>com.abc.student.services.registerStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerStudent</servlet-name>
    <url-pattern>/registerStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>authenticateStudent</display-name>
    <servlet-name>authenticateStudent</servlet-name>
    <servlet-class>com.abc.student.services.authenticateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authenticateStudent</servlet-name>
    <url-pattern>/authenticateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chechRegistration</display-name>
    <servlet-name>chechRegistration</servlet-name>
    <servlet-class>com.abc.student.services.chechRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chechRegistration</servlet-name>
    <url-pattern>/chechRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkRegistration</display-name>
    <servlet-name>checkRegistration</servlet-name>
    <servlet-class>com.abc.student.services.checkRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkRegistration</servlet-name>
    <url-pattern>/checkRegistration</url-pattern>
  </servlet-mapping>
</web-app>